<p>
    {{ 'reset_password.email.text'|trans({'%email%': user.email}) }}
</p>

<p>
    <a href="{{ url('reset_password', {token: request_password.token}) }}">
        {{ 'reset_password.email.button'|trans }}
    </a>
</p>
