<p>
    {{ 'text.email.choosePassword'|trans({'%email%': user.email}) }}
</p>

<p>
    <a href="{{ url('app_request_password', {token: request_password.token}) }}">
        {{ 'cta.email.choosePassword'|trans }}
    </a>
</p>
